<h1>Editing Actor #<%= @actor.id %></h1>

<form action="http://localhost:3000/update_actor/<%= @actor.id %>">
  <div>
    <label for="name">Name</label>
    <input placeholder="Enter a name here:" value="<%= @actor.name %>" name="name" type="text" id="name">
  </div>

  <div>
    <label for="year">DOB</label>
    <input name="dob" type="text" id="dob" value="<%= @actor.dob %>">
  </div>

  <div>
    <label for="bio">bio</label>
    <textarea name="bio" id="bio"><%= @actor.bio %></textarea>
  </div>

  <div>
    <label for="picture">Image URL</label>
    <input name="the_image_url" type="text" id="picture" value="<%= @actor.image_url %>">
  </div>

  <div>
    <input type="submit" value="Update Actor">
    or <a href="/actors/">Cancel</a>
  </div>
</form>
